<!-- Creating a userInput Form -->
<form class="new_quote" #quoteForm='ngForm' (ngSubmit)="onSubmit()">

  <!-- PosterName INput -->
  <div class="form-group">
    <label>Poster Name
      <input type="text" class="form-control" [(ngModel)]="quote.quotename" name="name" #name="ngModel" required>
    </label>
  </div>


  <!-- Author INput -->
  <div class="form-group">
    <label>Author
      <input type="text" class="form-control" [(ngModel)]="quote.creator" name="author" #author="ngModel"
        required>
    </label>
  </div>


  <!-- Decription Quotes Input -->
  <div class="form-group">
    <label>Quote Description
      <textarea id="description" class="form-control" id="description" [(ngModel)]="quote.description" name="description"
        #name="ngModel" required></textarea>
    </label>
  </div>
  <button type="submit" class="btn btn-primary ">Submit Quote</button>

</form>