body .recent_quotes {
  margin: 1%;
  padding: 10px 10px;
  right: 0;
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;
}
body .add_quote {
  padding: 20px;
  float: left;
  margin-left: 4%;
  right: 0;
  width: 20%;
  background-color: #fff;
  box-shadow: 5px 5px 10px 10px grey;
}
button {
  background-color: grey;
  color: #000;
  padding: 10px 15px;
  margin-left: 10%;
}
ul {
  margin: 2%;
  list-style: none;
}

